.DS_Store

# dependencies
node_modules/

# sqlite db
*.db
server/game_data.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env
.env.*

# build output
dist/
build/
